body
{
    background: url('img/bg.jpg') no-repeat;
    background-sze: cover;
    font-family: Arial;
    color:cornflowerblue
}

.dropdown-item:hover
{
    background-color: lightgray;
}

footer h4{
    color: white;
}

.carousel-item img{
    height: 300px;
    padding: 0% 2% 0% 2%;
}
